@mixin size($width, $height: null) {
  width: $width;
  height: $height;
}

@mixin flex($flex-direction: row, $flex-wrap: nowrap, $flex-display: flex) {
  display: $flex-display;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin font($font-size, $font-weight, $line-height, $font-family: inherit, $letter-spacing: normal) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}
