@import "style/reset";
@import "style/mixin";
@import "style/color-palette";
@import "style/flags";

html,
body {
  width: 100%;
  min-height: 100vh;
  @include flex();
  justify-content: center;
  align-items: center;
  background-color: $background;
}
