@import "./style/mixin.scss";
@import "style/color-palette";

.arrow {
  @include size(12px, 5px);
  fill: $fill-svg;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.tel-input {
  width: 266px;
  height: 47px;
  display: flex;

  input {
    @include size(calc(100% - 100px), 100%);
    @include font(14px, normal, 1.4);
    border: 1px solid $border;
    outline: none;
    padding: 0 16px;
  }
}

.country-code {
  &__wrapper {
    @include size(100px, 100%);
    position: relative;
  }

  &__block {
    @include size(100%, 100%);
    @include flex();
    align-items: center;
    padding: 0 26px 0 10px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: $border;
    background-color: $background-code;
    cursor: pointer;
    position: relative;
    user-select: none;
  }

  &__list {
    @include size(266px);
    max-height: 200px;
    border: 1px solid $border;
    background-color: $background-code;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translate(0, 100%);
    overflow-y: scroll;
    color: $border;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 8px;
      background-clip: padding-box;
      background-color: #fff;
      padding-left: 10px;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 10px;
    }

    &:hover {
      color: rgba(133, 100, 200, 0.5);
    }

    &-item {
      @include flex(row, wrap);
      align-items: flex-start;
      margin: 1px 0;
      padding: 6px 0;
      background-color: lighten($border, 18%);
      cursor: pointer;
      user-select: none;

      &:hover,
      &:active {
        background-color: rgba(133, 100, 200, 0.2);
      }
    }

    &-img {
      margin-right: 10px;
    }

    &-code,
    &-country {
      @include font(14px, normal, 1);
      color: $fill-svg;
    }

    &-country {
      @include flex(row, wrap);
      width: calc(100% - 88px);
    }

    &-wrap {
      @include flex();
      align-items: center;
      width: 88px;
      padding: 0 10px;
    }
  }
}
